
.account-switcher .dialog-inner {
    padding: 0px !important;
}

.md .account-switcher .dialog-inner {
    padding-bottom: 8px !important;
}

.account-switcher .dialog-title {
    padding: 24px 24px 12px 24px !important;
}

.ios .account-switcher .dialog-title {
    padding: 12px 24px 12px 24px !important;
}

.account-switcher .list {
    margin: 0px !important;
}
