.account-switcher .dialog-inner {
  padding: 0px !important;
}

.md .account-switcher .dialog-inner {
  padding-bottom: 8px !important;
}

.account-switcher .dialog-title {
  padding: 24px 24px 12px 24px !important;
}

.ios .account-switcher .dialog-title {
  padding: 12px 24px 12px 24px !important;
}

.account-switcher .list {
  margin: 0px !important;
}

.media-item.current-user .item-title {
  font-weight: bold; /* Make the title bold */
}

.media-item.current-user .item-subtitle {
  color: var(--f7-color-blue-dark); /* Change subtitle color */
}
