:root {
    --f7-navbar-subtitle-font-size: 14px !important;
    --f7-subnavbar-height: 48px !important;
}

.list .item-inner div:nth-child(2) {
    padding-right: 0px;
    overflow: hidden;
}

.overview-icon {
    border-radius: 8px;
    width: 44px !important;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.title-large-text {
    display: flex;
}

.subnavbar .button {
    font-size: 10px;
    font-weight: bold;
    height: 24px;
}

