:root {
    --f7-navbar-subtitle-font-size: 14px !important;
    --f7-subnavbar-height: 48px !important;
}

.title-large-text {
    display: flex;
}

.subnavbar .button {
    font-size: 10px;
    font-weight: bold;
    height: 24px;
}

.overview-icon {
    border-radius: 8px;
    width: 44px !important;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-switcher .dialog-inner{
    padding: 0px !important;
}
.md .account-switcher .dialog-inner{
    padding-bottom: 8px !important;
}
.account-switcher .dialog-title{
    padding: 24px 24px 12px 24px !important;
}
.ios .account-switcher .dialog-title{
    padding: 12px 24px 12px 24px !important;
}
.account-switcher .list {
    margin: 0px !important;
}