.assignment-grade-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    gap: var(--f7-typography-margin);
}

.assignment-grade-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex: 0 0 calc(50% - calc(var(--f7-typography-margin) / 2))
}

.grade-categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--f7-typography-margin);
}

.grade-category-item {
    width: calc(100% - var(--f7-typography-margin) * 2);
    height: 100%;
    padding: calc(var(--f7-typography-margin) / 2) var(--f7-typography-margin);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    max-height: calc(50% - calc(var(--f7-typography-margin) * 1.5));
}

.category-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 28px;
}

.assignments-list .item-content {
    padding-left: calc(var(--f7-typography-margin) * 3/4) !important;
}

.assignments-list .item-inner {
    padding: calc(var(--f7-typography-margin) / 2) 0 !important;
    padding-right: calc(var(--f7-typography-margin) / 2) !important;
}

.assignments-icon {
    width: 16px;
    height: 90%;
    margin-top: 4px;
    border-radius: 6px;
}

.assignments-item {
    flex: 1
}

.assignments-item .item-title {
    font-weight: 600 !important;
    font-size: var(--f7-list-item-title-font-size);
    line-height: var(--f7-list-item-title-font-size);
}

.assignments-item .item-subtitle {
    font-size: var(--f7-list-item-subtitle-font-size);
    line-height: var(--f7-list-item-subtitle-font-size);
}

.scores-list .item-title {
    text-overflow: clip;

}

.scores-list .ripple-wave {
    z-index: 100;
}

.assignments-item {
    position: relative;
}

/* .ios a.item-link.active-state {
    background-color: transparent;
} */
/* .ios a.item-link:before {
    height: 100%;
    position: absolute;
    width: 100%;
    content: '';
    z-index: 2;
    background-color: transparent;
    transition: 0.1s all;
}
.ios a.item-link.active-state:before{
    background-color: var(--f7-list-link-pressed-bg-color);
} */
.md .scores-list .assignments-item:before {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, transparent 80%, var(--f7-list-strong-bg-color) 95%);
    width: calc(100% + 1px);
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
}

/* Extra info Dialog */

.extra-info-dialog .dialog-title {
    text-align: center;
}

.extra-info {
    gap: calc(var(--f7-grid-gap) / 2) !important;
    margin-bottom: calc(var(--f7-grid-gap) / 2);
}

.extra-info.last-info {
    margin-bottom: 0;
}

.extra-info div {
    border: 2px solid var(--f7-theme-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(var(--f7-typography-margin) / 2);
    text-align: center;
}

.extra-info div .info-category-title {
    margin: 0;
    font-weight: 600;
    font-size: 12px;
}

.extra-info div .info-category-data {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}