.gradesList ul li,
.md .gradesList .item-content {
    padding: 0px !important;
}

.md .gradesList .item-inner {
    padding: calc(var(--f7-typography-margin) / 2) 0px !important;
    padding-right: calc(var(--f7-typography-margin) * 3/4) !important;
    padding-left: calc(var(--f7-typography-margin) * 3/4) !important;
}
.md .gradesList .item-link {
    margin: calc(var(--f7-typography-margin) / 2) var(--f7-typography-margin) !important;
    background-color: var(--f7-card-bg-color);
}

.ios .gradesList:not(.iosRound) .item-inner {
    padding: 16px 12px 16px 0px !important;
}

.grades-item { flex: 1 }
.grades-item .item-title {
    font-weight: 600 !important;
    font-size: var(--f7-list-item-title-font-size);
    line-height: var(--f7-list-item-title-font-size);
}
.grades-item .item-subtitle {
    font-size: var(--f7-list-item-subtitle-font-size);
    line-height: var(--f7-list-item-subtitle-font-size);
}