.login {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: all 0.3s;
}

.login-hidden {
    transform: translateY(100%);
}

.classlink-sso {
    z-index: 2;
}

.classlink-sso .item-content {
    padding-left: calc(var(--f7-typography-padding) * 2);
}

.md .link-input .item-input-wrap {
    display: flex
}

.md .link-input .item-input-wrap::before {
    content: "https://";
    color: var(--f7-text-editor-placeholder-colorx);
}

.md .classlink-input .item-input-wrap {
    display: flex
}

.md .classlink-input .item-input-wrap::before {
    content: "launchpad.classlink.com/";
    color: var(--f7-text-editor-placeholder-colorx);
}

.md .searchbar-districts .searchbar-disable-button {
    left: 0;
}

.md .login-form .item-input-outline .item-inner {
    padding-top: 8px;
    padding-bottom: 8px;
}

.md .login-form .item-input-with-value .item-floating-label,
.md .login-form .item-input-focused .item-floating-label,
.md .login-form .platform-input .item-input-outline .item-label,
.md .login-form .link-input .item-input-outline .item-label {
    transform: scale(1) translateY(4px) !important;
}