@font-face {
    font-family: 'Bree Serif';
    src: url('/BreeSerif-Regular.tff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.login {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: all 0.3s;
}

.login-page {
    display: flex;
    align-items: center;
    --theme: rgb(217, 238, 255);
    --opposite-theme: #003078;
    background-color: var(--theme);
}

.dark .login-page {
    --theme: #1b1b1f;
    background-color: #1b1b1f;
    --opposite-theme: #a4d2f8;
}

.preview-district ul {
    background-color: rgba(0, 132, 255, 0.151);
}

.login-screen-title {
    font-family: 'Bree Serif';
    font-weight: 700;
    font-size: 4rem;
    color: var(--opposite-theme);
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
    line-height: 4.5rem;
}

.md .login-page .select-button {
    color: var(--opposite-theme);
}
.md .login-page .login-btn {
    background-color: var(--opposite-theme);
    color: var(--theme);
}

.login-page > .page-content {
    height: auto;
    width: 100%;
    padding-top: 0;
}

.login-hidden {
    transform: translateY(100%);
}

.classlink-sso {
    z-index: 2;
}

.classlink-sso .item-content {
    padding-left: calc(var(--f7-typography-padding) * 2);
}

.md .link-input .item-input-wrap {
    display: flex
}

.md .link-input .item-input-wrap::before {
    content: "https://";
    color: var(--f7-text-editor-placeholder-colorx);
}

.md .classlink-input .item-input-wrap {
    display: flex
}

.md .classlink-input .item-input-wrap::before {
    content: "launchpad.classlink.com/";
    color: var(--f7-text-editor-placeholder-colorx);
}

.md .searchbar-districts .searchbar-disable-button {
    left: 0;
}

.md .login-form .item-input-outline .item-inner {
    padding-top: 8px;
    padding-bottom: 8px;
}

.md .login-form .item-input-with-value .item-floating-label,
.md .login-form .item-input-focused .item-floating-label,
.md .login-form .platform-input .item-input-outline .item-label,
.md .login-form .link-input .item-input-outline .item-label {
    transform: scale(1) translateY(4px) !important;
}

.login-page .item-label {
  background-color: var(--theme) !important;
}

.districts-popup .page-content {
    padding-top: 10px;
}