.tabbar {
    transform: translateY(0px);
    transition: transform 0.2s ease-out;
}
.tabbar-hidden{
    transform: translateY(100px);
}
.tabs .tab {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 99;
    transition: opacity 0.3s;
}
.tabs .tab-active {
    z-index: 100;
    display: block !important;
    opacity: 1;
}

.md .tabbar .ripple-wave {
    z-index: 1;
    position: absolute;
    bottom: 0;
}
.md .tabbar i.icon {
    z-index: 2;
}
.md .tabbar i.icon::after {
    content: '';
    width: 64px;
    height: 32px;
    border-radius: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scaleX(1);
    opacity: 1;
    z-index: 2;
    outline: 500px solid var(--f7-toolbar-bg-color, var(--f7-bars-bg-color));
}
.md .tabbar .tab-link .tabbar-label {
    z-index: 3;
}