.whatif-grades {
    display: flex;
    flex-direction: column;
}
.whatif-grades span {
    padding: none;
}
.whatif-grade {
    font-weight: 600 !important;
    color: var(--f7-list-item-title-text-color);
    font-size: var(--f7-list-item-title-font-size);
    line-height: var(--f7-list-item-title-font-size);
}
.whatif-total {
    color: var(--f7-list-item-subtitle-text-color);
    font-size: var(--f7-list-item-subtitle-font-size);
    line-height: var(--f7-list-item-subtitle-font-size);
}
.ios .whatif-edit-dialog .item-inner {
    text-align: start;
}
.md .whatif-edit-dialog .dialog-inner {
    text-align: center;
}
.grade-input .item-content {
    margin: 0 !important;
}
.dialog-input .item-label {
    background-color: var(--f7-dialog-bg-color) !important;
}
.ios .dialog-input .item-label {
    background-color: #e7e7e7 !important;
}
.ios.dark .dialog-input .item-label {
    background-color: #2b2b2b !important;
}
.checkbox-container {
    position: relative;
    z-index: 2;
}
.item-input-invalid .item-inner{
    padding-bottom: 8px !important;
}
.md .item-input-error-message {
    overflow: visible;
    text-align: left;
}
.md .whatif-list .list-button {
    border-bottom: 0.5px solid var(--f7-list-button-text-color, var(--f7-theme-color));
}